[pull]
  rebase = false
[user]
  name = birudo
  email = a514059172@gmail.com
[core]
  excludesfile = /Users/birudo/.gitignore_global
	logallrefupdates = true
  pager = delta
[alias]
  root = rev-parse --show-toplevel
	sdiff = !git diff && git submodule foreach 'git diff'
	spush = push --recurse-submodules=on-demand
	supdate = submodule update --remote --merge
[merge]
  conflictstyle = diff3
	tool = nvimdiff
[diff]
  colorMoved = default
	submodule = log
[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  side-by-side = true
[safe]
	directory = /storage/emulated/0/Download/Sync/MaxLumi/Logseq
[status]
	submodulesummary = 1
[submodule]
	recurse = true
[annex]
	largefiles = (largerthan=10000m)
